.header-space {
  margin-top: 30px;
}

.home-link {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

.category {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

h4 {
  text-align: center;
}

.delete-btn {
  margin-top: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
